.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.hm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 51px;
}


#genre-filter {
  width: 10%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: 
 #c1c1c1;
  position: absolute;
  top: 85px;
  right: 200px;
}


.featured-books {
  width: 100%;
  margin-left:100px ;
}

#h2 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}



.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


/* Apply store book item styling to book cards */
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.book-card img {
  display: block;
  height: 400px;
  width: auto;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.book-card:hover img {
  transform: scale(1.1);
}

.book-card h3 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-card .book-author {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.book-card .book-description {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.book-card .book-rating {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
}


.pagination {
display: flex;
justify-content: center;
margin-top: 50px;
}

.pagination-btn {
margin: 0 10px;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-in-out;
}

.pagination-btn:hover {
background-color: #3f51b5;
color: #fff;
border-color: #3f51b5;
}

.active-page {
background-color: #3f51b5;
color: #fff;
border-color: #3f51b5;
}
.vertical-nav {
  background-color: #f2f2f2;
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.vertical-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical-nav li {
  border-bottom: 1px solid #ddd;
}

.vertical-nav a {
  display: block;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.vertical-nav a:hover {
  background-color: #333;
  color: #fff;
}

.vertical-nav a.active {
  background-color: #333;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}



.library-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.library-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.library-book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.library-book-item {
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;

}

.library-book-image-container {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.library-book-image {
  max-height: 100%;
  max-width: 100%;
}

.library-book-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.library-book-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.library-book-author {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.library-book-description {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.library-book-genre {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
}

.library-book-price {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.library-add-to-cart-btn {
  background-color: #103a5a;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.library-add-to-cart-btn:hover {
  background-color: #0062cc;
}

.cart-image-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.cart-book-image {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  max-width: 200px; /* adjust this value */
  text-align: center;
}


.cart-book-image img {
  max-width: 100%;
}

.cart-book-image p {
  margin: 0.5rem 0;
}

.cart-book-image button {
  background-color: #fff;
  color: #0077ff;
  border: 1px solid #0077ff;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-book-image button:hover {
  background-color: #2e3756;
  color: #fff;
}

.cart-order-summary {
  margin-top: 2rem;
  margin-left: 270px;
}

.cart-order-summary h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.cart-order-summary table {
  width: 100%;
  border-collapse: collapse;
}

.cart-order-summary th,
.cart-order-summary td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}

.cart-order-summary th {
  text-transform: uppercase;
  font-weight: bold;
}

.cart-order-summary tbody tr:last-child td {
  font-weight: bold;
  border-top: 2px solid #d8d8d8;
}

.cart-order-summary p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.cart-order-summary button {
  display: block;
  margin: 1rem auto 0;
  background-color: #2e3756 ;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-order-summary button:hover {
  background-color: #fff;
  color: #2e3756 ;
}

.payments-main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.payment-order-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.payment-order-image-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.payment-order-image-container img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}



.purchase-history-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 300px;
}

.purchase-history-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchase-history-table {
  border-collapse: collapse;
  width: 100%;
}

.purchase-history-table th,
.purchase-history-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.purchase-history-table th {
  font-weight: bold;
}

.purchase-history-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.purchase-history-table tr:hover {
  background-color: #ddd;
}

.lending-history-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 300px;
}

.lending-history-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.lending-history-table {
  border-collapse: collapse;
  width: 100%;
}

.lending-history-table th,
.lending-history-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.lending-history-table th {
  font-weight: bold;
}

.lending-history-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lending-history-table tr:hover {
  background-color: #ddd;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}


.book-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


.heading {
  font-size: 30px;
  margin: 20px 0;
}


.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.book-form input {
  margin: 5px;
  padding: 5px;
  width: 300px;
  border: none;
  border-bottom: 2px solid gray;
}


.book-form button {
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.book-table {
  border-collapse: collapse;
  width: 100%;
}


.book-table th {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}


.book-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}


.book-table td button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.view-image img {
  max-width: 100px;
  height: auto;
}
/* StoreBooks component styles */

.store-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.store-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #1a1a1a;
}

.store-book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: start;
}

.store-book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.book-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  overflow: hidden;
}

.store-book-image {
  display: block;
  height: 100%;
  width: auto;
  transition: transform 0.2s ease-in-out;
}

.store-book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.store-book-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.store-book-author {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.store-book-description {
  color: #2e3756;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.store-book-genre {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
}

.store-book-price {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.store-add-to-cart-btn {
  background-color: #103a5a;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.store-add-to-cart-btn:hover {
  background-color: #0062cc;
}

/* Filter component styles */

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.filter-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1a1a1a;
  margin-left: 100px;
}

.filter-input {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}




.admin-header {
  font-size: 32px;
  text-align: center;
  margin-top: -500px;
  color: #333;
}

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

.admin-link:hover {
  text-decoration: underline;
}
.navbar {
  background-color: #2e3756;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
  padding: 1.5rem 1rem;
  margin: 0.5rem;
  transition: background-color 0.2s ease;
}

.navbar-item:hover {
  background-color: #103a5a;
}

.navbar-item.active {
  background-color: #c1c1c1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #666;
}

.button span {
  margin-left: 10px;
}
.navbar-item span {
  margin-left: 1rem;
}
#search-bar {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-left: auto;
  margin-bottom: 20px;
  background-color: #C1C1C1;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 70px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: none;
  padding: 0;
}

.search-button {
  border: none;
  background-color: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.fa-search {
  font-size: 20px;
  color: #a7a7a7;
}
