.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Container for the search bar and filters */
.hm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

/* Search bar */
#search-bar {
  display: flex;
  margin-left: 900px;
  margin-bottom: -10px;
}


#search-input {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.search-button {
  width: 40%;
  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #3f51b5;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #fff;
  color: #3f51b5;
}


/* Genre filter */
#genre-filter {
  width: 10%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 500px;
}

/* Featured books */
.featured-books {
  width: 100%;
}

#h2 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}


/* Book grid */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.book-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin-left: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.book-card img {
  width: 100%;
  object-fit: contain;
}


.book-card h3 {
  font-size: 24px;
  margin: 20px 0 10px 0;
}

.book-author {
  font-size: 16px;
  color: #999;
  margin-bottom: 10px;
}

.book-description {
  font-size: 16px;
  margin-bottom: 10px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-rating {
  font-size: 16px;
  color: #f00;
  margin-bottom: 10px;
}

.book-genre {
  font-size: 16px;
  margin-bottom: 
  10px;
}

/* Pagination */
.pagination {
display: flex;
justify-content: center;
margin-top: 50px;
}

.pagination-btn {
margin: 0 10px;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-in-out;
}

.pagination-btn:hover {
background-color: #3f51b5;
color: #fff;
border-color: #3f51b5;
}

.active-page {
background-color: #3f51b5;
color: #fff;
border-color: #3f51b5;
}
.vertical-nav {
  background-color: #f2f2f2;
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.vertical-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical-nav li {
  border-bottom: 1px solid #ddd;
}

.vertical-nav a {
  display: block;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.vertical-nav a:hover {
  background-color: #333;
  color: #fff;
}

.vertical-nav a.active {
  background-color: #333;
  color: #fff;
}
/* Set the font family and size for the entire page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 200px;
  padding: 20px;
  background-color: 
  #c1c1c1;
}

.navbar-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
  padding: 10px;
}


.navbar-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #333;
  margin-bottom: 10px;
  text-decoration: none;
}

.navbar-item:hover {
  color: #666;
}

.navbar-item span {
  margin-left: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ff3860;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #e52e54;
}

.button span {
  margin-left: 10px;
}

/* Style for StoreBooks component */
.store-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: auto;
}

.store-heading {
  font-size: 36px;
  font-weight: bold;
  right: 400px;
  color: #333;
  margin: 0 0 30px 0;

}

.store-book-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.store-book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.store-book-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

.book-image-container {
  height: 300px;
  overflow: hidden;
}

.store-book-image {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 250px;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.store-book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use object-fit to control how the image is resized */
}

.store-book-details {
  padding: 20px;
}

.store-book-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0;
}

.store-book-author {
  font-size: 18px;
  color: #999;
  margin: 0 0 5px 0;
}

.store-book-description {
  font-size: 16px;
  color: #666;
  margin: 0 0 10px 0;
}

.store-book-genre {
  font-size: 16px;
  color: #999;
  margin: 0 0 10px 0;
}

.store-book-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0;
}

.store-add-to-cart-btn {
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.store-add-to-cart-btn:hover {
  background-color: #555;
}
/* LibraryBooks Component */
.library-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: auto;
}

.library-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.library-book-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.library-book-item {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.library-book-item:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.library-book-image-container {
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.library-book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.library-book-image:hover {
  transform: scale(1.1);
}

.library-book-details {
  padding: 1.5rem;
}

.library-book-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.library-book-author {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.library-book-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.library-book-genre {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.library-book-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.library-add-to-cart-btn {
  background-color: #38a3a5;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.library-add-to-cart-btn:hover {
  background-color: #5cb5b7;
}
.cart-image-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.cart-book-image {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 250px;
  text-align: center;
}

.cart-book-image img {
  max-width: 100%;
}

.cart-book-image p {
  margin: 0.5rem 0;
}

.cart-book-image button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-book-image button:hover {
  background-color: #000;
  color: #fff;
}

.cart-order-summary {
  margin-top: 2rem;
}

.cart-order-summary h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.cart-order-summary table {
  width: 100%;
  border-collapse: collapse;
}

.cart-order-summary th,
.cart-order-summary td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.cart-order-summary th {
  text-transform: uppercase;
  font-weight: bold;
}

.cart-order-summary tbody tr:last-child td {
  font-weight: bold;
  border-top: 2px solid #ccc;
}

.cart-order-summary p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.cart-order-summary button {
  display: block;
  margin: 1rem auto 0;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-order-summary button:hover {
  background-color: #fff;
  color: #000;
}
.payments-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: auto;
  /* display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; */
}

.payment-order-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.payment-order-image-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.payment-order-image-container img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.payment-details {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 400px;
}

.payment-details h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.payment-details form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payment-details input[type="text"],
.payment-details input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-details input[type="text"]:focus,
.payment-details input[type="number"]:focus {
  outline: none;
  border-color: #0077ff;
}

.payment-details p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.payment-details button {
  background-color: #0077ff;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

.payment-details button:hover {
  background-color: #0060cc;
}

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.login-form h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
}

.login-form input:focus {
  border: 2px solid #0077cc;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover {
  background-color: #0061a8;
}

.login-form .link {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-form .link:hover {
  color: #0061a8;
}

.purchase-history-container {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: auto;
}

.purchase-history-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchase-history-table {
  border-collapse: collapse;
  width: 100%;
}

.purchase-history-table td,
.purchase-history-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.purchase-history-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.purchase-history-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.purchase-history-table tr:hover {
  background-color: #ddd;
}
.lending-history-container {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: auto;
}

.lending-history-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.lending-history-table {
  border-collapse: collapse;
  width: 100%;
}

.lending-history-table td,
.lending-history-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.lending-history-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.lending-history-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.lending-history-table tr:hover {
  background-color: #ddd;
}
/* Style for the book table container */
.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

/* Style for the left side of the book table container */
.book-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

/* Style for the heading of the book table */
.heading {
  font-size: 30px;
  margin: 20px 0;
}

/* Style for the book form */
.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Style for the book form inputs */
.book-form input {
  margin: 5px;
  padding: 5px;
  width: 300px;
  border: none;
  border-bottom: 2px solid gray;
}

/* Style for the book form button */
.book-form button {
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the book table */
.book-table {
  border-collapse: collapse;
  width: 100%;
}

/* Style for the book table header */
.book-table th {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

/* Style for the book table data */
.book-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

/* Style for the book table actions buttons */
.book-table td button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the book table image */
.view-image img {
  max-width: 100px;
  height: auto;
}
