@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
  /* background-color: #468374; */
  font-family: 'Raleway', sans-serif;
 
}


.side-bar{
  margin-left: 100px;
  font-size: 1.5em;
  color: #bbc0c5;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

}
  

#home{
  display: flex;
  color: #bbc0c5;
  margin-top: 60px;
}

#logout button{
  margin-left: 100px;
  margin-top: 80px;
  background-color:#3f8363 ;
  color: white;
}
.btn:hover{
  background-color:#243655;
  cursor: pointer;
}
.hm-container{
  background-color: #ddeeea;

}


.home-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.navbar {
  width: 200px;
  height: 100vh;
  background-color: #ddd;
}

.book-list {
  flex: 1;
  padding: 20px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-item {
  display: flex;
  width: 50%;
  gap: 20px;
}

.book-item img {
  width: 100%;
  height: auto;
}

.book-details {
  display: flex;
}
.book-card {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 80px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.book-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-card h3 {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
} */

.book-card p {
  margin: 0;
  font-size:0.9em;
  text-align: center;
}



 .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.book-card .book-author {
  font-style: italic;
}

.book-card .book-description {
  margin: 10px 0;
}

.book-card .book-rating {
  font-weight: bold;
  color: #ffac2d;
}

.book-card .book-price {
  font-weight: bold;
  color: #007bff;
}

.book-card .book-location {
  font-style: italic;
}

#dropdown{
 position: absolute;
 margin-top: 20px;
 margin-left: 800px;
 font-size: large;
 width: 150px;
 height: 40px;
 border: 1px solid #ccc;
  border-radius: 5px;

}
#search-bar{
  position: absolute;
  margin-top: 10px;
  margin-left: 1000px;
  font-size: large;
}
#h2{
  margin-top: 30px;
  margin-left: 100px;

}
#search-input {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.read-the-docs {
  color: #888;
} 

 .BookTable {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f0f0f0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form input {
  width: 48%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.table tr:hover {
  background-color: #f5f5f5;
}

.table button {
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.table button:hover {
  background-color: #0056b3;

} 









.book-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 80px;
}
.admin-header {
   font-size: 3rem;
  font-weight: bold;
  text-align: center; 
  color: #fff;
  /* background-color: #6c5ce7;  */
   padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}


.book-left {
  width: 45%;
  padding-right: 20px;
}

.book-right {
  width: 55%;
}

.book-form {
  display: flex;
  flex-direction: column;
}

.book-form input,
.book-form button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.book-form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.book-form button:hover {
  background-color: #45a049;
}

.book-table {
  width: 100%;
  border-collapse: collapse;
}

.book-table td,
.book-table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.book-table th {
  background-color: #4CAF50;
  color: white;
}

.book-table td img {
  max-width: 100px;
  height: auto;
}

.book-table td:last-child {
  text-align: center;
}

.book-table td:last-child button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.book-table td:last-child button:hover {
  background-color: #e53935;
}
td.view-image img {
  width: 100px;
  height: auto;
}



.lending-container {
  max-width: 800px;
  margin: 0 auto;
}

.lending-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.lending-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.lending-form input[type="number"],
.lending-form input[type="date"],
.lending-form input[type="text"] {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.lending-form button[type="submit"],
.lending-form button[type="button"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  margin-right: 1rem;
}

.lending-form button[type="submit"]:hover,
.lending-form button[type="button"]:hover {
  background-color: #2e8b57;
}

.lending-table {
  border-collapse: collapse;
  width: 100%;
}

.lending-table th,
.lending-table td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.lending-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.lending-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lending-table tr:hover {
  background-color: #ddd;
}

.lending-table td button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  margin-right: 1rem;
}

.lending-table td button:last-child {
  background-color: #008cba;
}

.lending-table td button:hover {
  background-color: #d32f2f;
}

.lending-table td button:last-child:hover {
  background-color: #005b7f;
}
.page-container {
  display: flex;
  justify-content: center;
  background-color: #6d6969;
}

/* .order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
} */
.order-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.list {
  display: flex;
  justify-content: center; /* Add this line to center the items */
  list-style: none;
  margin: 0;
  padding: 10px;
}


.order-table {
  border-collapse: collapse;
  margin-right: 2rem;
}

.order-table th,
.order-table td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid gray;
}

.order-table th {
  background-color: #4caf50;
  color: white;
}

.order-table td:last-child {
  display: flex;
  justify-content: center;
}

.order-table button {
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/* .order-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
} */
/* .order-heading {
  text-align: center;
  margin-top: 2rem;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
} */

.order-form input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
}

.order-form button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #f0f0f0; */
}


.list {
 display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  gap: 1rem;
  align-items: center; */
}


.list li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.list li a:hover {
  background-color: #fff;
  color: #333;
} */
.nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}


.list {
  margin: 0;
  padding: 0;
}

.right {
  margin-left: 87rem;
}

.list li a {
  color: #000;
  text-decoration: none;
}

.list li a:hover {
  color: #666;
}
.store-container {
  padding: 20px;
 
}
.str{
  background-color: #ddeeea;
}
.store-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex-basis: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

img {
  /* width: 100%;
  height: auto;
  margin-bottom: 10px; */
  
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  
  
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin: 0;
}

.add-cart-btn {
  background-color: #0066cc;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.add-cart-btn:hover {
  background-color: #004080;
}
.library-container{
  background-color: #ddeeea;
}
.library-heading{
  text-align: center;
}
