.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  
}

.login-forrm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}

.login-forrm h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-forrm label {
  font-size: 1.2rem;
  margin-top: 20px;
}

.login-forrm input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.login-forrm input:focus {
  outline: none;
}

.login-forrm button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-forrm button:hover {
  background-color: #0069d9;
}

.login-forrm button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-forrm p {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
}

.login-forrm .link {
  text-decoration: underline;
  color: #007bff;
}

.login-forrm .link:hover {
  color: #0069d9;
}
