.auth-form-container {
  background-image: url('https://images.pexels.com/photos/2553427/pexels-photo-2553427.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ddd;
  background-color: #103a5a;
  color: #fff;
}


.auth-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.auth-form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.auth-form-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
}

.auth-form-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #0077cc;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.auth-form-button:hover {
  background-color: #0066aa;
}

.auth-form-text {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #000;
}

.auth-form-error {
  color: #cc0000;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
.auth-form-heading{
  color: #000;
  font-weight: bolder;
}
